.navbar-logo {
	background-color: var(--bs-body-color);
	-webkit-mask-image: url("../images/logo.svg");
	mask-image: url("../images/logo.svg");
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	display: block;
	width: 200px;
}

.navbar-logo > span {
	visibility: hidden;
	width: 1px;
	height: 1px;
	display: block;
}

.navbar-logo::before {
	content: "";
	display: block;
	padding-top: 33px;
}

.nav-item a {
	cursor: pointer;
}

.nav-item:not(:last-of-type) {
	margin-right: 0.5em;
}