h2 {
	font-size: 3.25em;
	line-height: 85%;
	font-weight: 500;
}

.hero-title {
	font-size: 5.75em
}

.bootstrap-logo {
	background-color: var(--bs-body-color);
	-webkit-mask-image: url("../images/bootstrap-logo.svg");
	mask-image: url("../images/bootstrap-logo.svg");
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	display: block;
	width: 3em;
	aspect-ratio: 1;
}

.navbar-logo {
	background-color: var(--bs-body-color);
	-webkit-mask-image: url("../images/logo.svg");
	mask-image: url("../images/logo.svg");
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	display: block;
	width: 12.5em;
}

.navbar-logo > span {
	visibility: hidden;
	width: 1px;
	height: 1px;
	display: block;
}

.navbar-logo::before {
	content: "";
	display: block;
	padding-top: 1.75em;
}

.nav-item a {
	cursor: pointer;
}

.nav-item:not(:last-of-type) {
	margin-right: 0.5em;
}

.navbar {
	transition: 0.3s background;
}

.navbar:has(.navbar-collapse.show) {
	background: var(--bs-body-bg);
}

.element-nr {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.25em;
	width: 2.25em;
	background: #ffffff;
	color: var(--bs-body-bg);
}

.code-example {
	border: 1px solid #ffffff50;
	padding: 2em;
	border-radius: 5px;
	font-size: 0.875em;
	font-family: var(--bs-font-monospace);
}

.sidebar p {
	opacity: 50%;
	font-style: italic;
}

.hero-col {
	height: 100%;
}

.hero-img-left {
	height: 100%;
	width: auto;
}

@media only screen and (max-width: 991px) {
	.hero-img-left {
		width: 100%;
		height: auto;
	}
}

@media only screen and (min-width: 992px) {
	.hero-sub-col {
		height: 300px;
	}

	.hero-row {
		height: 600px;
	}
}

@media only screen and (max-width: 575px) {
	.hero-title {
		font-size: 3.5em;
	}

	h2 {
		font-size: 2.5em;
		line-height: 85%;
		font-weight: 500;
	}
}

.example .col, .example .col-8, .example .col-4, .example .col-6 {
	border: 1px solid #ffffff;
	padding: 1em;
	text-align: center;
	border-radius: 5px;
}
