h2 {
	font-size: 48px;
	font-weight: 500;
}

.navbar-logo {
	background-color: var(--bs-body-color);
	-webkit-mask-image: url("../images/logo.svg");
	mask-image: url("../images/logo.svg");
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	display: block;
	width: 200px;
}

.navbar-logo > span {
	visibility: hidden;
	width: 1px;
	height: 1px;
	display: block;
}

.navbar-logo::before {
	content: "";
	display: block;
	padding-top: 33px;
}

.nav-item a {
	cursor: pointer;
}

.nav-item:not(:last-of-type) {
	margin-right: 0.5em;
}

.navbar {
	transition: 0.3s background;
}

.navbar:has(.navbar-collapse.show) {
	background: var(--bs-body-bg);
}

.element-nr {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 33px;
	width: 33px;
	background: #ffffff;
	color: var(--bs-body-bg);
}

.code-example {
	border: 1px solid #ffffff50;
	padding: 2em;
	border-radius: 5px;
	font-size: 14px;
	font-family: var(--bs-font-monospace);
}

.sidebar p {
	opacity: 50%;
	font-style: italic;
}

.hero-col {
	height: 300px;
}

.hero-img-left {
	height: 100%;
	width: auto;
}

@media only screen and (max-width: 991px) {
	.hero-img-left {
		width: 100%;
		height: auto;
	}
}

@media only screen and (min-width: 992px) {
	.hero-col {
		height: 600px;
	}
	.hero-right {
		height: 300px;
	}
}

.example .col, .example .col-8, .example .col-4 {
	border: 1px solid #ffffff;
	padding: 1em;
	text-align: center;
	border-radius: 5px;
}